<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" /> 
    <meta name="title" content="Hotel California">
    <meta name="description" content="Hey merhaba Hayatndaki en muhteem tatil deneyiminiyaamaya ve gizemlerle dolu bu dnyaya girmeye ne dersin?">
    <meta name="keywords" content="hotel,california,otel">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf8">
    <meta name="language" content="Turkish">
    <meta name="revisit-after" content="1 days">
    <meta name="author" content="Aydn Meydaniolu"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" href="./img/icon.png" />
    <title>Hotel California</title>
  </head>
<body>

<nav class="navbar navbar-expand-md  fixed-top ">
    <div class="container"> 
<a class="navbar-brand" href="./index.html"><img class="img-fluid" src="../img/Logo.png"></a>
<button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav ml-auto">
    <li class="nav-item active">
        <a class="nav-link" href="./index.html">Ana Sayfa<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#otelimiz">Otelimiz</a>
    </li>   
    <li class="nav-item">
        <a class="nav-link" href="#aktiviteler">Aktiviteler</a>
    </li>  
    <li class="nav-item">
        <a class="nav-link" href="#yorumlar">Yorumlar</a>
    </li>  
    <li class="nav-item">
        <a class="nav-link" href="#iletisim">İletişim</a>
    </li>  
    </ul>
</div>
</nav>
</div>