<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" /> 
    <meta name="title" content="Hotel California">
    <meta name="description" content="Otel ve tatil deyince akla gelen ilk yer ! Hayatındaki en muhtesem tatil deneyimini Hotel California'da yasamaya ve gizemlerle dolu bu dünyaya girmeye ne dersin? Erken rezervasyon fırsatlarını kaçırma">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf8">
    <meta name="language" content="Turkish">
    <meta name="revisit-after" content="1 days">
    <meta name="author" content="Aydın Meydanioglu"> 
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
    <link rel="icon" href="./img/icon.png" />
    <title>Hotel California</title>
  </head>
<body>

<nav class="navbar navbar-expand-md  fixed-top ">
    <div class="container"> 
<a class="navbar-brand" href="./index.html"><img class="img-fluid" src="../img/Logo.png"></a>
<button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav ml-auto">
    <li class="nav-item active">
        <a class="nav-link" href="./index.html">Ana Sayfa<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#otelimiz">Otelimiz</a>
    </li>   
    <li class="nav-item">
        <a class="nav-link" href="#aktiviteler">Aktiviteler</a>
    </li>  
    <li class="nav-item">
        <a class="nav-link" href="#yorumlar">Yorumlar</a>
    </li>  
    <li class="nav-item">
        <a class="nav-link" href="#iletisim">İletişim</a>
    </li>  
    </ul>
</div>
</nav>
</div>